.main{
    display: flex;
    padding: 1em;
}
.main-left{
    margin-left: 5%;
}
.main-left h3{
    color: #462686;
    font-size: 26px;
    margin-top: 20%;
}
.landing{
    width: 40vw;
    margin-left: 45%;
}
.free-trial{
    height: 6vh;
    width: 12vw;
}
.nav{
    border: 2px solid #462686;
    width: 85vw;
    margin-left: 5%;
    border-radius: 5px;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    color: #462686;
}
.manage, .speed, .automated, .row, .row-reverse{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    margin-top: 5%;
}
.manage-left, .automated-left, .row-reverse-left{
    margin-left: 10%;
    margin-top: 3%;
}
.manage-left h4{
    font-size: 24px;
}
.square{
    width: 28vw;
}
.speed-left{
    margin-left: 10%;
}
.speed-right, .row-reverse-right{
    margin-top: 4%;
}
.customer-support{
    margin-left: 20%;
    display: flex;
}
.customer-image .logo{
    width: 15vw;
}
.customer-text{
    margin-left: 5%;
    margin-top: 3%;
}
.better-way{
    background: #7837f8;
    color:#ffffff;
    padding: 1em;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link{
    text-decoration: none;
    color: #000000;
}
.products{
    display: none;
    position: absolute;
    justify-content: flex-start;
    padding-left: 5em;
    height: 15vh;
    width: 100vw;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px;
    z-index: 10;
}
.product{
    padding: 1em;
    width: 15%;
}
.product-top{
    display: flex;
}
.product-top h6{
    padding-left: .8em;
}
.product p{
    font-size: 10px;
    margin-left: 12%;
    margin-top: -7%;
}
.down{
    display: flex;
}
.down-icon{
    padding-left: .5em;
    padding-top: .4em;
}

@media screen and (max-width: 768px){
    .main{
        flex-direction: column;
        margin-top: 55%;
        padding: 0.5em;
    }
    .main-left{
        text-align: center;
    }
    .main-left h3{
        font-size: 16px;
    }
    .main-left p{
        font-size: 10px;
    }
    .free-trial{
        width: 35vw;
    }
    .landing{
        margin-left: 25%;
        height: 25vh;
    }
    .nav{
        flex-wrap: wrap;
        height: auto;
        width: 75vw;
    }
    .manage, .speed, .automated, .row, .row-reverse{
        flex-direction: column;
        width: auto;
    }
    .manage-left, .automated-left, .row-reverse-left{
        margin-left: 10%;
    }
    .manage-left h4, .speed-right h4, .automated-left h4, .row-right h4, .row-reverse-left h4{
        font-size: 22px;
        text-align: center;
    }
    .manage p, .speed p, .automated p, .row p, .row-reverse p{
        font-size: 16px;
        text-align: center;
    }
    .square{
        width: 75vw;
    }
    .support-logo{
        margin-left: 20%;
        width: 35vw;
    }
    .support-icon p{
        margin-left: 25%;
    }
    .customer-support{
        flex-direction: column;
        margin-left: 15%;
    }
    .customer-text{
        margin-left: -15%;
        font-size: 10px;
    }
    .better-way{
        width: 90%;
    }
    .better-way h3{
        font-size: 16px;
    }
    .better-way p{
        text-align: center;
    }
}